<!DOCTYPE html>
<html>
    <head>
        
        {{#block "title"}}
        <title>{{ title }}</title>
        {{/block }}
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        
        {{#block "styles" }}
        {{/block }}
        
    </head>
    <body>
        
        {{#block "content" }}
        <div class="container">
            <h1>{{ title }}</h1>
            
            {{#if error }}
            <div class="alert alert-danger">{{ error }}</div>
            {{/if }}
            
            {{#if logged }}
            <a href="/admin">Admin</a>
            <a href="/session/logout">Logout</a>
            {{ else }}
            <a href="/session/login">Login</a>
            {{/if }}
            
        </div>
        {{/block }}
        
        {{#block "scripts" }}
        {{/block }}
    </body>
</html>
