<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        
        <div class="container" id="app">
            <h1>Admin</h1>
            
            <a href="/" style="margin-bottom: 10px"
               class="btn btn-primary btm-sm pull-right">Homepage</a>
            <div class="clearfix"></div>
               
            <div class="list-group">
                <a class="list-group-item" href="/admin/articles">Articles</a>
            </div>
        </div>
        
    </body>
</html>
