{{#partial "content" }}        
<div class="container" id="app">
    <h1>Admin</h1>

    <div class="row">
        <div class="col-md-12">
            <a href="/auth/logout"
                class="btn btn-danger btm-sm pull-right">Logout</a>
             <a href="/"
                class="btn btn-primary btm-sm pull-right">Homepage</a>
        </div>
    </div>

    <div class="list-group">
        <a class="list-group-item" href="/admin/articles">Articles</a>
        <a class="list-group-item" href="/admin/users">Users</a>
    </div>
</div>
{{/partial }}
{{> layout }}