<!DOCTYPE html>
<html>
    <head>
        
        {{#block "title" }}
        <title>Admin Users</title>
        {{/block }}
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        
        {{#block "content" }}
        <p>content</p>
        {{/block }}
        
        {{#block "scripts" }}
        <p>scripts</p>
        {{/block }}
        
    </body>
</html>
