{{#partial "content" }}
<div class="container" id="app">
    <h1>Admin Users</h1>

    <a href="/admin" 
       class="btn btn-success btm-sm">Back</a>

    <a href="/admin/users/form/0" 
       style="margin-bottom: 10px"
       v-bind:disabled="processing"
       class="btn btn-primary btm-sm pull-right">New</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th style="width: 130px"></th>
            </tr>
        </thead>
        <tbody>
            {{#each users }}
            <tr>
                <td>{{ id }}</td>
                <td>{{ username }}</td>
                <td>{{ email }}</td>
                <td>
                    <a class="btn btn-warning btn-sm"
                       v-bind:disabled="processing"
                       href="/admin/users/form/{{ id }}">edit</a>
                    &nbsp;
                    <a class="btn btn-danger btn-sm"
                       v-bind:disabled="processing"
                       v-on:click.prevent="del"
                       href="/admin/users/del/{{ id }}">del</a>
                </td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</div>
{{/partial }}

{{#partial "scripts" }}
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/vue.js"></script>
<script src="/assets/js/vue-resource.js"></script>
<script src="/assets/js/admin/users/index.js"></script>
<script>
    var vm = new Vue(index);
</script>
{{/partial }}
{{> layout }}