<div>
    <div class="page-title">
        <div>
            <h1><i class="fa fa-pie-chart"></i> Users</h1>
            <p>Manage application users</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="" v-on:click.prevent="setMenu('users_index')">users</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-title">Users</h3>

                <a href="" 
                   style="margin-bottom: 10px"
                   v-bind:disabled="processing"
                   v-on:click.prevent="formNew"
                   class="btn btn-primary btm-sm pull-right">New</a>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th style="width: 130px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in users">
                            <td v-text="item.id"></td>
                            <td v-text="item.username"></td>
                            <td v-text="item.email"></td>
                            <td>
                                <a class="btn btn-warning btn-sm"
                                   v-bind:disabled="processing"
                                   v-on:click.prevent="edit(item)">edit</a>
                                &nbsp;
                                <a class="btn btn-danger btn-sm"
                                   v-bind:disabled="processing"
                                   v-on:click.prevent="del(item)">del</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>