{{#partial "content" }}
<div class="content-wrapper" id="app">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-pie-chart"></i> My Profile</h1>
            <p>Update my profile</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="/admin/users/profile">my profile</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-title">My Profile</h3>
                
                <h4>{{ user.username }}</h4>

            </div>
        </div>
    </div>
</div>
{{/partial }}
{{> layout }}
