{{#partial "content" }}
<div class="content-wrapper" id="app">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-pie-chart"></i> View Article</h1>
            <p>View blog article</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="/admin/articles">view article</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-title">View Article</h3>
                
                <h4>{{ article.title }}</h4>

                <div>
                    {{{ article.body }}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial }}
{{> layout }}
