<div>
    <div class="page-title">
        <div>
            <h1><i class="fa fa-pie-chart"></i> Edit Article</h1>
            <p>Manage blog articles</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="" 
                       v-on:click.prevent="setMenu('articles_index')">articles</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-title">Edit Article</h3>

                <div class="pull-right" style="margin-bottom: 10px;">
                    <button v-bind:disabled="processing"
                            v-on:click="save"
                            class="btn btn-primary btn-sm">Save
                    </button>
                    <a class="btn btn-warning btn-sm" href="" 
                       v-on:click.prevent="setMenu('articles_index')">Back</a>
                </div>

                <form action="" method="post" v-on:submit.prevent="save">

                    <input type="hidden" name="id" value="" v-model="article.id" />

                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" type="text" name="title" 
                               value="" v-model="article.title" />
                    </div>

                    <div class="form-group">
                        <label>Body</label>
                        <textarea class="form-control" name="body" 
                                  v-model="article.body"></textarea>
                    </div>

                    <div class="alert alert-success" v-show="success" v-cloak>Saved</div>
                    <div class="alert alert-danger" v-show="error" v-text="error" v-cloak></div>

                    <button type="submit" 
                            v-bind:disabled="processing"
                            class="btn btn-primary btn-sm">Save
                    </button>
                    <a class="btn btn-warning btn-sm" href="" 
                       v-on:click.prevent="setMenu('articles_index')">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
