<div>
    <div class="page-title">
        <div>
            <h1><i class="fa fa-pie-chart"></i> Articles</h1>
            <p>Manage blog articles</p>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="" v-on:click.prevent="setMenu('articles_index')">articles</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h3 class="card-title">Articles</h3>

                <a href="" 
                   style="margin-bottom: 10px"
                   v-bind:disabled="processing"
                   v-on:click.prevent="formNew"
                   class="btn btn-primary btm-sm pull-right">New</a>
                <div class="clearfix"></div>
                
                <table class="table table-striped"></table>
                
            </div>
        </div>
    </div>
</div>